<h1>Blackjack</h1>

<a href="http://krumreyh.com">Test</a>

<%= form_for :test do |tester| %>
    <p>
      <%= tester.label :title %><br>
      <%= tester.text_field :title %>
    </p>

    <p>
      <%= tester.label :text %><br>
      <%= tester.text_area :text %>
    </p>

    <p>
      <%= tester.submit %>
    </p>
<% end %>